.Label{
    font-family: GravityBook;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
    margin-bottom: 9px;
}