.buttonProfile{
    width: 160px;
}

.buttonProfile .imgProfile{
    border-radius: 50px;
    width: 32px;
    height: 32px;
    border: 1px solid var(--tertiary);
    margin-top: -5px;
}

.buttonProfile .Medium-Text-Regular{
    color: var(--text-secundary);
    margin-top: 10px;
}