.buttonProfile{
    width: 160px;
}

.buttonProfile .imgProfile{
    border-radius: 50px;
    width: 32px;
    height: 32px;
    border: 1px solid var(--cards);
    margin-top: -5px;
    overflow: hidden;
}

.buttonProfile .imgProfile img{
    width: 32px;
}

.buttonProfile .Medium-Text-Regular{
    color: var(--placeholders-buttons-dark);
    margin-top: 10px;
}