.EventsList{
    width: 100%;
    min-height: 64px;
}

.EventsList .border{
    width: 30px;
    height: 30px;
}

.EventsList .borderLeft{
    margin-bottom: -30px;
    border-left: 1px solid var(--primary);
    border-top: 1px solid var(--primary);
}

.EventsList .borderRight{
    float: right;
    margin-top: -30px;
    border-bottom: 1px solid var(--primary);
    border-right: 1px solid var(--primary);
}

.EventsList{
    margin-bottom: 30px;
}

@media only screen and (min-width : 1224px) {
    .EventsList .border{
        width: 80px;
        height: 80px;
    }
    .EventsList .borderLeft{
        margin-bottom: -80px;
    }
    .Events{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}