.EventsList{
    background-color: var(--primary);
    border-radius: 8px;
    padding: 0 16px;
}

.titleEventsFilms{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.EventsList .line{
    background-color: #3d3f59;
    margin-bottom: 21px;
    margin-top: 0;
}

.EventsList .buttonPrimary{
    background-color: #3d3f59;
}

.EventsList .buttonPrimary:hover{
    background-color: var(--hover);
}

.EventsList .Month{
    font-family: FontBold;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: var(--text-secundary);
    margin-bottom: 24px;
    cursor: pointer;
}