.EventsList{
    width: 100%;
    min-height: 64px;
}

.EventsList .borderLeft{
    width: 30px;
    height: 30px;
    margin-bottom: -30px;
    border-left: 1px solid var(--primary);
    border-top: 1px solid var(--primary);
}

.EventsList .borderRight{
    float: right;
    width: 30px;
    height: 30px;
    margin-top: -30px;
    border-right: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
}

.EventsList{
    margin-bottom: 30px;
}