.StepBar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.StepBar .Small-Text-Regular{
    color: var(--placeholders-buttons-dark);
    margin-right: 16px;
}

.StepBar .step{
    width: 72px;
    height: 4px;
    border-radius: 5px;
    margin-right: 8px;
}

.stepDone{
    background-color: var(--primary);
}

.stepToDo{
    background-color: var(--secundary-light);
}

.lineSteps{
    display: flex;
    flex-direction: row;
    align-items: center;
}