.EventInfo .buttonOptions{
    width: 20px;
    height: 15px;
    cursor: pointer;
    background-image: url("../assets/options.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.EventInfo .buttonOptions:hover{
    background-image: url("../assets/options-hover.svg");
}

.dropdownOptions{
    width: 168px;
    background-color: var(--text-dark);
    position: absolute;
    right: 0;
    margin-right: 56px;
    margin-top: 35px;
    border-radius: 8px;
    padding: 10px;
}

.dropdownOptions article{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 0 5px;
}

.dropdownOptions article:hover{
    background-color: var(--secundary-light);
}

.dropdownOptions .Small-Text-Regular{
    color: var(--text-light);
    margin-left: 8px;
}