.tabs{
    display: flex;
    flex-direction: row;
}

.tabs .tab{
    margin-right: 35px;
    color: var(--text-dark);
    padding: 8px 3px;
    cursor: pointer;
}

.tabs .active{
    border-bottom: 3px solid var(--primary); 
}