@media (max-width: 800px) {
  .tabs {
    justify-content: space-between;
  }

  .tabs .tab {
    margin-right: 0;
  }
}

@media (min-width: 800px) {
  .tabs {
    justify-content: start;
  }

  .tabs .tab {
    margin-right: 35px;
  }
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tabs .tab {
  color: var(--text-dark);
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.tabs .active {
  border-bottom: 3px solid var(--primary);
}
