.categoryInfos{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-gap: 100px;
    color: var(--text-dark);
    margin-top: -50px;
    align-items: center;
}

.categoryInfos article{
    background-color: var(--primary);
    border-radius: 8px;
    height: 288px;
}

.Category .titleSectionCategory{
    color: var(--placeholders-buttons-dark);
}

.Category .EmptyLabel{
    margin-top: 60px;
}

.Category .titleSectionSemester{
    margin-top: -50px;
}

@media (max-width: 800px) {
    .categoryInfos{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        color: var(--text-dark);
        margin-top: -50px;
        align-items: center;
    }
    
    .categoryInfos article {
        grid-row: 1;
    }
}