.EventPage .categoryInfos .Small-Text-Bold,
.EventPage .categoryInfos .Small-Text-Regular{
    color: var(--placeholders-buttons-dark);
}

.EventPage .categoryInfos .Large-Text-Bold,
.EventPage .categoryInfos .Medium-Text-Regular{
    margin-bottom: 24px;
}

.EventPage .titleSectionEvents{
    color: var(--placeholders-buttons-dark);
}

.EventPage .EmptyLabel{
    margin-top: 60px;
}