.SliderCard {
  margin-right: 10px;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  grid-gap: 20px;
}

.SliderCard .infos{
  padding: 50px;
}

.SliderCard .addRecent{
  color: var(--text-secundary);
  text-align: left;
}

.SliderCard .Large-Text-Bold{
  text-align: left;
  color: var(--white);
}

.SliderCard .descriptionFilm{
  text-align: left;
  color: var(--white);
}

.SliderCard .buttonsFilm{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.SliderCard .addList{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--white);
  cursor: pointer;
}

.SliderCard .addList img{
  width: 24px;
  height: 24px;
  margin-right: 5px;
}



@media only screen and (min-width: 1224px) {
  .SliderCard {
    margin-right: 14px;
  }
  .carousel .slider {
    width: 110%;
    height: 288px;
    margin-bottom: 40px;
  }
}
