.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.ProfileCard {
  margin-top: -50px;
}

.lineSidebar {
  align-self: center;
  justify-self: center;
  width: 56px;
  height: 2px;
  background-color: #262833;
}
