.containerCenter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photoProfile {
  margin-top: 30px;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  border: 1px solid var(--primary);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.containerCenter .Context-Button {
  margin: 30px 0 20px 0;
}

.carousel {
  margin-bottom: 30px;
}

@media only screen and (min-width: 1224px) {
  .photoProfile {
    width: 200px;
    height: 200px;
  }
}

.tabBar {
  background-color: red;
  width: 100%;
  height: 144px;
  margin: 64px;
}
