.cardFilm {
  cursor: pointer;
}

.cardFilm:hover .infosCard {
  background-color: var(--primary);
}

.cardFilm .containerImgCard {
  width: 100%;
  overflow: hidden;
}

.cardFilm .imgCard {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.cardFilm .infosCard {
  padding: 5px 16px;
  margin-top: -4px;
  border-radius: 0 0 8px 8px;
  background-color: var(--cards);
}

.cardFilm .Medium-Text-Bold {
  color: var(--text-dark);
  margin-bottom: 0;
}

.cardFilm .Medium-Text-Regular {
  margin-top: 0;
  color: var(--text-dark);
}
