.cardFilm {
  cursor: pointer;
}

.cardFilm:hover .infosCard {
  background-color: var(--primary);
}

.cardFilm .containerImgCard {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 8px 8px 0 0;
}

.cardFilm .imgCard {
  height: 150px;
}

.cardFilm .infosCard {
  padding: 5px 16px;
  margin-top: -4px;
  border-radius: 0 0 8px 8px;
  background-color: var(--cards);
  display: grid;
  grid-template-columns: 1fr 20px;
  grid-gap: 10px;
  align-items: center;
  height: 90px;
}

.cardFilm .Medium-Text-Bold {
  color: var(--text-dark);
  margin-bottom: 0;
}

.cardFilm .Medium-Text-Regular {
  margin-top: 0;
  color: var(--text-dark);
}

.cardFilm .buttonOptions{
  width: 20px;
  height: 15px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./assets/options.svg");
  margin-left: 10px;
}

.cardFilm .dropdownOptions{
  right: auto;
  margin-left: -168px;
  margin-top: 10px;
}