.tabBar {
    background-color: var(--text-light);
   
    height: 144px;
    margin-top: 64px;
    margin-left: 216px;
    padding: 0 56px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.tabBar .titleTabBar{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12.5px;
}

.tabBar .titleTabBar article{
    width: 40px;
    height: 40px;
    background-color: var(--searchBar);
    border-radius: 4px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabBar .titleTabBar article img{
    width: 30px;
    height: 30px;
}

.tabBar .tabTeacher{
    display: grid;
    grid-template-columns: auto 1fr;
}

.tabBar .tabTeacher button{
    width: max-content;
    padding: 0 15px;
    justify-self: right;
    margin-top: -5px;
}