.Tag .tagLabel{
    line-height: 1.21;
    color: var(--white);
    background-color: var(--secundary);
    padding: 7px 8px;
    border-radius: 4px;
    margin-right: 12px;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Tag img{
    width: 8px;
    height: 8px;
    margin-left: 5px;
    cursor: pointer;
}