  
  .Type {
    font-family: GravityRegular;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
  }
  
  .Descriptions{
    font-family: GravityRegular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
  }
  
  .Small-Titles {
    font-family: FontBold;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: var(--white);
    margin: 0;
  }
  
  .Small-Subtitles {
    font-family: FontRegular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: var(--white);
  }
  
  .Title-Film {
    font-family: GravityBold;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
  }
  
  .Pessoal-Area-Infos {
    font-family: GravityLight;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    text-align: left;
    margin-top: -10px;
    color: var(--white);
  }
  
  .Profile-Name {
    font-family: GravityRegular;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: -0.4px;
    text-align: left;
    color: var(--white);
  }
  
  .Profile-Descripiton {
    font-family: GravityBook;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    text-align: left;
    color: var(--white);
  }
  
  .Context-Button {
    font-family: GravityBold;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    cursor: pointer;
    color: var(--white);
  }

  .Next-Film{
    font-family: GravityBold;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
  }

  .Producer-Name{
    font-family: GravityRegular;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
  }

  .Tags-Label{
    font-family: GravityBook;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
  }

  .AgeParentalRating{
    font-family: GravityBold;
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
  }

  .DescriptionParentalRating{
    font-family: GravityBook;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
    margin-top: 0;
  }

  .Play{
    font-family: GravityBold;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: var(--primary);
  }

/* Novas classes de fontes */

.Small-Text-Bold {
  font-family: FontBold;
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
}