.CardList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 16px;
}

.CardListScrollable{
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-bottom: 30px;
}

.CardMargin{
  margin-right: 16px;
}

@media (min-width: 800px) {
  .CardList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 24px;
  }
}