.datasheet{
    display: flex;
    flex-direction: column;
}

.datasheet .tabs{
    background-color: var(--navbar-color);
    height: 48px;
    width: 100%;
    padding: 0 19px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.datasheet .tabs .tab{
    margin-top: 7px;
}

.datasheet .contentTab{
    background-color: var(--navbar-color);
}

.datasheet .contentFunction{
    display: flex;
    padding: 8px 16px;
    border-bottom: 2px solid var(--background);
    color: var(--white);
}

.datasheet .titleFunction{
    color: var(--text-secundary);
    margin-right: 16px;
    min-width: max-content;
}

.datasheet .contentCast{
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-gap: 16px;
    padding: 8px 16px;
    border-bottom: 2px solid var(--background);
    color: var(--white);
}