.datasheet{
    margin: 0 16px;
    display: flex;
    flex-direction: column;
}

.datasheet .button{
    width: max-content;
    margin: 8px 0;
}

.datasheet .tabs{
    background-color: var(--searchBar);
    height: 65px;
    width: 100%;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.datasheet .tabs .tab{
    margin-top: 7px;
}

.datasheet .contentTab{
    background-color: var(--searchBar);
}

.datasheet .contentFunction{
    display: flex;
    padding: 8px 16px;
    border-bottom: 2px solid var(--text-light);
    color: var(--text-dark);
}

.datasheet .titleFunction{
    color: var(--placeholders-buttons-dark);
    margin-right: 16px;
    min-width: max-content;
}

.datasheet .contentCast{
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-gap: 16px;
    padding: 8px 16px;
    border-bottom: 2px solid var(--text-light);
    color: var(--text-dark);
}

@media (min-width: 367px){
    .datasheet .tabs{
        background-color: var(--searchBar);
        height: 48px;
    }
}

@media (min-width: 800px){
    .datasheet{
        margin: 0;
    }

    .datasheet .tabs{
        padding: 0 19px;
    }
}