.backgroundModal{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(15, 15, 19, 0.6);
    cursor: pointer;
}

.modalUpload{
    position: absolute;
    width: 60vw;
    display: grid;
    grid-template-rows: 64px 70vh 70px;
    background-color: var(--text-dark);
    /* overflow-y: auto; */
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 20vw;
}

.modalUpload .labelModal{
    height: 64px;
    background-color: var(--primary);
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px 8px 0 0;
}

.closeModal{
    cursor: pointer;
}

.contentModal{
    padding: 16px 40px;
    overflow-y: auto;
}

.handleSteps{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.16);
}

.handleSteps .buttonSecundary{
    margin-right: 16px;
}