.VideoEvent .nameVideo{
    display: flex;
    align-items: center;
}

.VideoEvent .nameVideo article{
    width: 80px;
    height: 43px;
    background-color: var(--secundary);
    border-radius: 5px;
    margin-right: 16px;
}