iframe{
    width: 97vw;
    height: 40vh;
    margin-left: -21px;
    margin-top: -20px;
    position: fixed;
}

.title{
    margin-top: 40vh;
}

.ActionsPlayer{
    justify-content: left;
}

.Actions .Icons{
    margin-right: 15px;
    cursor: pointer;
}

.Actions .Actions-Video{
    margin-left: -9px;
}
