.newComment{
    width: 100%;
    background-color: var(--navbar-color);
    border-radius: 8px;
    height: 85px;
}

.newComment div{
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-gap: 16px;
    padding: 8px 16px;
}

.newComment .textField{
    width: 100%;
    background: none;
    height: 24px;
    font-family: FontRegular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: var(--white);
}

.newComment .photoComment{
    width: 24px;
    height: 24px;
    border-radius: 30px;
    border: solid 1px #2f3146;
}

.newComment .buttonComment{
    height: 32px;
    width: 80px;
    text-align: center;
    padding: 0;
    color: var(--white);
    border: none;
    border-radius: 4px;
    float: right;
    margin-right: 16px;
    margin-bottom: 8px;
    font-family: FontBold;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
}

.newComment .buttonComment:disabled{
    background-color: var(--button-disabled);
}