.newComment{
    width: 100%;
    background-color: var(--searchBar);
    border-radius: 8px;
    height: 85px;
}

.newComment div{
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-gap: 16px;
    padding: 8px 16px;
}

.newComment .textField{
    width: 100%;
    background: none;
    height: 24px;
    color: var(--text-dark);
}

.newComment .photoComment{
    width: 24px;
    height: 24px;
    border-radius: 30px;
    border: solid 1px #2f3146;
}

.newComment .buttonComment{
    height: 32px;
    width: 80px;
    text-align: center;
    padding: 0;
    color: var(--text-dark);
    background-color: var(--primary);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    float: right;
    margin: 0 16px 0 9px;
}

.newComment .buttonComment:disabled{
    background-color: var(--inactive);
}