.buttonLogin .Medium-Text-Regular{
    color: var(--placeholders-buttons-dark);
    margin-left: 8px;
}

.buttonLogin{
    display: flex;
    align-items: center;
}

.divNotLogin .buttonHelp{
    position: absolute;
    bottom: 5vh;
    width: 216px;
}