.infosContainer input[type="text"]{
    width: 100%;
    font-family: FontRegular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: var(--text);
    background: none;
    outline: none;
    border: none;
}

.infosContainer{
    border: 1px solid var(--secundary);
    border-radius: 4px;
    padding: 17px 24px;
    margin-bottom: 16px;
}