.Modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Modal .backgroundModal{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(15, 15, 19, 0.6);
    cursor: pointer;
    z-index: 110;
}

.Modal .bodyModal{
    position: absolute;
    display: grid;
    grid-template-rows: 64px auto 70px;
    background-color: var(--text-dark);
    border-radius: 8px;
    margin-top: -100px;
    z-index: 120;
}

.Modal .bodyModal .labelModal{
    height: 64px;
    background-color: var(--primary);
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px 8px 0 0;
}

.Modal .closeModal{
    cursor: pointer;
}

.Modal .contentModal{
    padding: 16px 40px;
    overflow-y: auto;
}

.Modal .options{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.16);
}

.Modal .options .buttonSecundary{
    margin-right: 16px;
}