.CommentSection{
    margin-top: 30px;
}

.CommentSection .Small-Text-Bold{
    color: var(--placeholders-buttons-dark);
    margin-top: 24px;
    margin-bottom: 8px;
}

.CommentSection .comments{
    border-radius: 8px;
    overflow: hidden;
}

.CommentSection .loginForComment{
    display: flex;
    align-items: center;
}

.CommentSection .loginForComment img{
    width: 25px;
    margin-right: 10px;
}

.CommentSection .loginForComment h1{
    margin-top: 10px;
}