.navbar{
    height: 59px;
    background-color: var(--navbar-color);
    display: grid;
    grid-template-columns: 83px 1fr 1fr 1fr;
    grid-template-areas: "logo iconsLeft iconsLeft iconsRight"; 
    align-content: center;
    grid-gap: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.logo{
    width: 48px;
    height: 23px;
    grid-column: logo;
    margin-top: 8px;
    margin-left: 21px;
}

.icon{
    height: 14px;
    width: auto;
    margin-top: 13px;
    margin-right: 7vw;
    cursor: pointer;
}

.iconsLeft{
    grid-area: iconsLeft;
}

.iconsLeft .Buttons-Navbar{
    display: none;
}

.iconsRight{
    grid-area: iconsRight;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: end;
}

.search{
    margin-left: -7px;
}

.profile{
    background-color: white;
    width: 39px;
    height: 39px;
    border-radius: 50px;
    margin-right: 21px;
}

@media only screen and (min-width : 1224px) {
    .navbar{
        height: 88px;
        grid-template-columns: 189px 1fr 1fr 1fr;
    }
    .logo{
        width: 70px;
        height: 33px;
        margin-left: 61px;
        margin-top: 3px;
    }
    .iconsLeft .Buttons-Navbar{
        display: block;
    }
    .icon{
        margin-top: 2px;
    }
    .iconsLeft{
        display: grid;
        grid-template-columns: 14px 1fr 14px 5fr;
        grid-gap: 10px;
        align-items: center;
    }
}