.navbar{
    width: 100%;
    height: 64px;
    background-color: var(--searchBar);
    position: fixed;
    top: 0;
    z-index: 20;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .logo{
    width: 50px;
    margin-right: 24px;
}

.navbar .iconNavbar{
    width: 18px;
    height: 29px;
    margin-right: 15px;
}

.navbar .inputSearch{
    width: 60vw;
    color: var(--placeholders-buttons-dark);
    background: none;
    border: none;
    outline: none;
}

@media (min-width: 800px){
    .navbar{
        padding-left: 272px;
        padding-right: 0;
    }
    .navbar .inputSearch{
        width: 35%;
    }
    .navbar .logo{
        display: none;
    }
    .navbarComplete{
        padding-left: 56px !important;
    }
  }