.Label {
  display: flex;
  padding: 0 16px;
  background-color: var(--searchBar);
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  color: #c6c5d4;
  width: 100%;
  height: 64px;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  color: var(--placeholders-buttons-dark);
}

.Label .Medium-Text-Regular {
  padding-right: 16px;
}

.Label p {
  color: var(--text-dark);
}
