.player {
  margin-top: 29px;
  width: 100%;
  height: 60vh;
  grid-area: video;
}
.videoPlayer .Small-Text-Bold {
  color: var(--placeholders-buttons-dark);
}

.videoPlayer .optionsFilm{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}