.titleHomeFilms {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.HomeFilms .line {
  background-color: var(--cards);
  margin-bottom: 21px;
  margin-top: 0;
}

.HomeFilms .buttonSeeMore {
  background-color: var(--secundary);
  color: var(--text-dark);
}

.HomeFilms .buttonSeeMore:hover {
  background-color: var(--primary);
}

.HomeFilms .button {
  padding: 0 20px;
}
