.carousel .slide{
  background: none !important;
}
.carousel .slider {
  margin-bottom: 40px;
  width: 110%;
  height: 288px;
}

.carousel .thumbs-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center !important;
}

.carousel .thumb{
  width: auto !important;
  border: none !important;
}

@media only screen and (min-width: 1224px) {

}
