.card{
    margin-right: 10px;
}

.carousel .slide {
    background: none;
}
.carousel .slider {
    width: 55%; 
}

@media only screen and (min-width : 1224px) {
    .card{
        margin-right: 14px;
    }
    .carousel .slider {
        width: 30%; 
        margin-bottom: 40px;
    }
}