.VideoInfo{
    display: flex;
    flex-direction: column;
}

.VideoInfo div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.VideoInfo .Large-Text-Bold{
    color: var(--text-dark);
    margin-bottom: 0;
}

.VideoInfo .disciplineName{
    color: var(--placeholders-buttons-dark);
    margin-right: 24px;
    cursor: pointer;
}

.VideoInfo .disciplineName:hover{
    color: var(--primary);
}

.VideoInfo .Small-Text-Regular{
    color: var(--placeholders-buttons-dark);
    margin-right: 24px;
}