.sidebar{
    /* height: 59px; */
    background-color: var(--sidebar-footer);
    /* display: grid;
    grid-template-columns: 83px 1fr 1fr 1fr;
    grid-template-areas: "logo iconsLeft iconsLeft iconsRight";
    grid-gap: 10px; */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.logo{
    width: 48px;
    height: 23px;
    grid-column: logo;
    margin-left: 21px;
    margin-top: 18px;
}

.buttonsNavbar{
    color: var(--text-dark);
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-top: 23px;
}

.icon{
    height: 14px;
    width: auto;
    margin-right: 10px;
    cursor: pointer;
}

.home{
    margin-right: 20px;
}

.labelButtons{
    display: none;
}

.profile{
    width: 39px;
    height: 39px;
    border-radius: 50px;
    margin-top: 10px;
}

.optionsLogged .icon{
    display: none;
}

@media only screen and (min-width : 1224px) {
    .sidebar{
        width: 216px;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .logo{
        width: 64px;
        height: 31px;
        margin: 24px 0 5vh 40px;
    }
    .lineSidebar{
        align-self: center;
        width: 56px;
        height: 2px;
        background-color: var(--cards);
        margin-top: 4vh;
        margin-bottom: 5vh;
    }
    .optionsProfile{
        margin-bottom: 8vh;
    }
    .buttonsNavbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0;
    }
    .labelButtons{
        display: block;
    }

    .profile{
        width: 52px;
        height: 52px;
    }
    .optionsLogged .icon{
        display: block;
    }
}