.SecondaryButton {
  border-radius: 4px;
  background-color: var(--secundary);
  text-align: center;
  color: var(--text-dark);
  padding: 8px 16px;
}

.SecondaryButton:hover {
  background-color: var(--primary); /* Consertar esse nome */
}
