.TabBarPlayer{
    display: none;
}

.TabBarPlayer .iconBack{
    width: 12px;
    height: 21px;
    background-image: url(./assets/back.svg);
    margin-left: 56px;
    cursor: pointer;
}

.TabBarPlayer .iconBack:hover{
    background-image: url(./assets/back-hover.svg);
}

.TabBarPlayer .iconNext{
    width: 12px;
    height: 21px;
    background-image: url(./assets/next.svg);
    cursor: pointer;
}

.TabBarPlayer .iconNext:hover{
    background-image: url(./assets/next-hover.svg);
}

.TabBarPlayer .containerNextFilm{
    display: grid;
    grid-template-columns: 140px 128px 1fr;
    grid-gap: 16px;
    align-items: center;
    justify-self: right;
    margin-right: 56px;
}

.containerNextFilm .Medium-Text-Bold{
    text-align: right;
    color: var(--text-dark);
}

.containerNextFilm .imgNextVideo{
    width: 128px;
    height: 84px;
    overflow: hidden;
    opacity: 0.69;
    border-radius: 4px;
}

.containerNextFilm .imgNextVideo img{
    height: 84px;
}

@media (min-width: 800px){
    .TabBarPlayer{
        margin-top: 64px;
        height: 144px;
        width: 100%;
        background-color: var(--text-light);
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
        display: grid;
        grid-template-columns: 68px 1fr 1fr;
        grid-gap: 40px;
        align-items: center;
    }
}