.TabBarPlayer{
    margin-top: 64px;
    height: 144px;
    width: 100%;
    background-color: var(--background);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: 68px 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
}

.TabBarPlayer .iconBack{
    width: 12px;
    height: 21px;
    margin-left: 56px;
}

.TabBarPlayer .containerNextFilm{
    display: grid;
    grid-template-columns: 140px 128px 1fr;
    grid-gap: 16px;
    align-items: center;
    justify-self: right;
    margin-right: 56px;
}

.containerNextFilm .nextVideo{
    font-family: FontBold;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: right;
    color: var(--white);
}

.containerNextFilm article{
    width: 128px;
    height: 84px;
    overflow: hidden;
    opacity: 0.69;
    border-radius: 4px;
}

.containerNextFilm article img{
    height: 84px;
}