.containerPlayer {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 72px;
  margin: 0 0 29px 104px;
}

@keyframes textComment {
  0% {
    height: 15px;
  }
  100% {
    height: 60px;
  }
}
