.containerPlayer {
  margin-top: 64px;
}

.containerPlayer .Small-Text-Bold {
  color: var(--placeholders-buttons-dark);
}

.containerPlayer .optionsFilm{
  margin-top: 10px;
  align-items: center;
}

.containerPlayer .optionsFilm .views{
  display: none;
}

@media (min-width: 800px){
  .containerPlayer {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 72px;
    margin: 0 0 29px 104px;
  }

  .containerPlayer .optionsFilm{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .containerPlayer .optionsFilm .views{
    display: block;
  }
}