.uploadContainer .topContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.uploadContainer .bottomContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}

.leftContainer .addInfo{
    background: none;
    border: none;
    outline: none;
    margin-bottom: 30px;
}

.infosContainer{
    border: 1px solid var(--secundary);
    border-radius: 4px;
    padding: 15px 30px;
    margin-bottom: 30px;
}

.uploadContainer .buttonSecundary{
    margin: 20px 10px 30px 0;
}