.Actions div {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.ActionsPlayer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  justify-content: left;
}

.Actions .Icons {
  margin-right: 15px;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color .5s;
}

.Actions .Actions-Video {
  margin-left: -9px;
}

.descriptionApplauses {
  flex-direction: column !important;
  margin-right: 10px;
}
.Number-Applauses {
  margin: 0;
}

.ActionsPlayer .Icons:hover {
  background-color: var(--hover);
}
