.radiosRegister{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 16px;
    margin-top: 16px;
}

.radiosRegister input{
    display: none;
}

.radiosRegister .radioOption{
    display: flex;
    align-items: center;
}

.radiosRegister .checkbox .border{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid var(--secundary);
    margin-right: 10px;
}

.radiosRegister .checkbox .border article{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 5px;
    background: var(--primary);
    display: none;
}

.radiosRegister input:checked + .checkbox .border article{
    display: block;
}

.uploadDocument{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    color: var(--placeholders-buttons-dark);
    grid-gap: 16px;
    align-items: center;
    margin-top: 20px;
}

.uploadDocument input{
    display: none;
}

.uploadDocument .button{
    padding: 8px 10px;
    text-align: center;
    height: auto;
}