:root {
  --sidebar-color: #0f0f13;
  --navbar-color: #1c1d27;
  --background: #15161c;
  --tertiary: #2d304b;
  --sidebar: #0f0f13;
  --primary: #303247;
  --primary-opacity: rgba(48, 187, 230, 35%);
  --secundary: #0d5580;
  --hover: #756eff;
  --white: #FFFFFF;
  --tags: #052a43;
  --text-secundary: #c6c5d4;
}

@font-face{
  font-family: FontBold;
  src: url("./assets/fonts/Avenir-Heavy.ttf");
}

@font-face{
  font-family: FontRegular;
  src: url("./assets/fonts/Avenir-Medium.ttf");
}

@font-face{
  font-family: GravityRegular;
  src: url("./assets/fonts/Gravity-Regular.otf");
}
@font-face{
  font-family: GravityLight;
  src: url("./assets/fonts/Gravity-Light.otf");
}
@font-face{
  font-family: GravityBook;
  src: url("./assets/fonts/Gravity-Book.otf");
}
@font-face{
  font-family: GravityBold;
  src: url("./assets/fonts/Gravity-Bold.otf");
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  overflow-x: hidden;
}

html{
  background: var(--background);
  background-size: cover;
}
