:root {
  --primary: #756eff;
  --secundary: #575a80;
  --inactive: #3b3a43;
  --searchBar: #1c1d27;
  --placeholders-buttons-dark: #c6c5d4;
  --text-dark: #ffffff;
  --text-light: #15161c;
  --placeholders-light: #a7a6b3;
  --negative-feedback: #ff6e6e;
  --negative-feedback-with-transparency: rgba(255, 110, 110, 0.2);
  --sidebar-footer: #0f0f13;
  --secundary-light: #eeedff;
  --cards: #2d304b;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  background: var(--text-light);
  background-size: cover;
}
