.NewInformation{
    display: grid;
    grid-template-columns: 10px 1fr;
    grid-gap: 20px;
    align-items: center;
    border: 1px solid var(--primary);
    border-radius: 8px;
    padding: 17px;
}

.NewInformation select{
    margin-bottom: 8px;
    border: none;
    outline: none;
    color: var(--primary);
    cursor: pointer;
    width: 100%;
} 

.NewInformation input[type="text"]{
    border: none;
    outline: none;
    color: var(--text-light);
    width: 100%;
}

.NewInformation .closeInfo{
    width: 13px;
    height: 13px;
    cursor: pointer;
}