.SidebarPlayer{
    background-color: rgba(7, 59, 93, 0.35);
    margin-bottom: 20px;
    padding: 15px 21px;
}

.nextFilm{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: "card titleFilm" "card duration";
    grid-column-gap: 10px;
    align-items: center;
    margin-bottom: 30px;
}

.imgNextFilm{
    width: 100%;
    grid-area: card;
}

.nextFilm .Next-Film{
    grid-area: titleFilm;
}

.nextFilm .Views-Film{
    grid-area: duration;
}

@media only screen and (min-width : 1224px) {
    .SidebarPlayer{
        padding: 20px 25px;
    }
    .nextFilm{
        margin-bottom: 40px;
    }
}