.ProfileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

.ProfileCard .roleContainer {
  display: grid;
  grid-template-columns: 8px 1fr 8px;
  grid-column-gap: 8px;
  align-content: center;
  justify-items: center;
}

.ProfileCard .line {
  width: 8px;
  height: 1px;
  background-color: var(--secundary);
}

.ProfileCard .Large-Text-Bold {
  margin-top: 16px;
  margin-bottom: 0;
  color: var(--white);
}

.ProfileCard .Small-Text-Regular {
  color: var(--white);
  align-self: center;
}
